﻿.celula-linha:after {
    clear: both;
    content: "";
    display: table;
}

.celula {
    background: #7b7b7b;
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.celula:focus {
    outline: none;
}

.isEscondido {
    background: #000000;
}

.isNavio {
    background: #7b7b7b;
}

.isAdjacente,
.isOceano {
    background: #19a0d9;
}

.isMarcado {
    border: 3px solid #00ff21;
}
