﻿.comandos {
    margin-right: 10px;
    width:150px;
}

.game-info {
    margin-bottom: 20px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}

.game-escolha {
    margin-top: 30px;
    margin-bottom: 30px;
}
